body{
    background-color: rgb(111, 238, 111);
    text-align: center;
}
h1 {
    fontcstyle: italic;
    color: green;
    font-size: larger;
}
h2 { 
    color:green
    font-weight: 200;
}
.imagem{
    width: 60%;
}
.imagem2 {
    widht:40%;
}
.lista {
    text-align: left;
    color: green;
}
.pizza {
    color: green;
}